In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from py2neo import Graph

%matplotlib inline

In [2]:
groups = pd.read_csv('meetup/groups.csv')
categories = pd.read_csv('meetup/categories.csv')
cities = pd.read_csv('meetup/cities.csv')
events = pd.read_csv('meetup/events.csv')
members = pd.read_csv('meetup/members.csv',encoding='cp1252')
topics = pd.read_csv('meetup/topics.csv', encoding='cp1252')
venues = pd.read_csv('meetup/venues.csv', encoding='cp1252')
group_topics = pd.read_csv('meetup/groups_topics.csv', encoding='cp1252')
members_topics = pd.read_csv('meetup/members_topics.csv', encoding='cp1252')

In [3]:
groups.head(3)

,group_id,category_id,category.name,category.shortname,city_id,city,country,created,description,group_photo.base_url,...,organizer.photo.photo_link,organizer.photo.thumb_link,organizer.photo.type,rating,state,timezone,urlname,utc_offset,visibility,who
0,6388,14,health/wellbeing,health-wellbeing,10001,New York,US,2002-11-21 16:50:46,Those who practice or hold a strong interest i...,https://secure.meetupstatic.com,...,https://secure.meetupstatic.com/photos/member/...,https://secure.meetupstatic.com/photos/member/...,member,4.39,NY,US/Eastern,alternative-health-nyc,-14400,public,Explorers of Health
1,6510,4,community/environment,community-environment,10001,New York,US,2003-05-20 14:48:54,The New York Alternative Energy Meetupis for t...,https://secure.meetupstatic.com,...,https://secure.meetupstatic.com/photos/member/...,https://secure.meetupstatic.com/photos/member/...,member,4.31,NY,US/Eastern,alternative-energy-meetup,-14400,public,Clean Energy Supporters
2,8458,26,pets/animals,pets-animals,10001,New York,US,2004-03-27 09:55:41,not_found,https://secure.meetupstatic.com,...,https://secure.meetupstatic.com/photos/member/...,https://secure.meetupstatic.com/photos/member/...,member,4.84,NY,US/Eastern,Animals,-14400,public,Animal Voices

In [9]:
topics.head()

,topic_id,description,link,members,topic_name,urlkey,main_topic_id
0,83,Meet with others in your local area who are Sp...,http://sportsfans.meetup.com/,471594,Sports Fan,sportsfans,10451
1,130,Meet with Latin Music fans in your town.,http://latinmusic.meetup.com/,759757,Latin Music,latinmusic,15018
2,182,Want to practice your English? Meetup with oth...,http://esl.meetup.com/,3176752,English as a Second Language,esl,10454
3,183,Meet local Spanish language and culture lovers...,http://spanish.meetup.com/,1618673,Spanish Language,spanish,10454
4,184,Meet and mingle with local Italian language an...,http://italian.meetup.com/,465231,Italian Language,italian,10454

In [10]:
venues.head(3)

,venue_id,address_1,city,country,distance,lat,localized_country_name,lon,venue_name,rating,rating_count,state,zip,normalised_rating
0,5286,424 Park Ave S,New York,us,0.0,40.744259,USA,-73.983749,Starbucks Coffee,4.00,51.0,NY,10016,3.92
1,5293,Union Square,New York,us,0.0,40.731390,USA,-73.988400,Virgin Megastore (cafe),2.83,109.0,NY,10003,2.80
2,8356,141 West 72nd St.,New York,us,0.0,40.778275,USA,-73.980095,Krispy Kreme Doughnuts,2.11,18.0,NY,10028,2.00

In [21]:
group_ids = ["263790", "9226282", "1034045", "107592"]
group_ids = [int(item) for item in group_ids]

In [38]:
groups1 = groups[(groups['group_id'] == 263790) | (groups['group_id'] == 9226282) | (groups['group_id'] == 107592)]

In [91]:
groups1.to_csv('groups1.csv')

In [40]:
members1 = members[(members['group_id'] == 263790) | (members['group_id'] == 9226282) | (members['group_id'] == 107592)]

In [92]:
members1.to_csv('members1.csv')

In [43]:
group_topics1 = group_topics[(group_topics['group_id'] == 263790) | (group_topics['group_id'] == 9226282) | (group_topics['group_id'] == 107592)]

In [95]:
group_topics1.to_csv('group_topics1.csv')

In [80]:
df_list = []

for i in range(0, len(members1['member_id']+1)):
    member_topics1 = members_topics[members_topics['member_id'] == members1['member_id'].iloc[i]]
    df = pd.concat([df, member_topics1]).reset_index(drop = True)

In [90]:
members_topics1 = df

In [74]:
member_topics1 = members_topics[members_topics['member_id'] == members1['member_id'].iloc[5]]

In [96]:
members_topics1.to_csv('members_topics1.csv')

In [98]:
events_new = events[events[(events['group_id'] == 263790) | (events['group_id'] == 9226282) | (events['group_id'] == 107592)]]

In [103]:
members_topics1.head(2)

   topic_id       topic_key topic_name  member_id
0      1502             Art        art  240771009
1      9696  New Technology    newtech  240771009

In [ ]:
df1 = pd.concat(df_list).reset_index(drop = True)
df_list = []

In [106]:
df_list = []
for i in range(0, len(members_topics1['topic_id']+1)):
    topics = topics[topics['topic_id'] == members_topics1['topic_id'].iloc[i]]
    df1 = pd.concat([df1, topics]).reset_index(drop = True)

Empty DataFrame
Columns: [topic_id, description, link, members, topic_name, urlkey, main_topic_id]
Index: []