In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import py2neo
from py2neo import Graph
from dask.delayed import delayed
import dask.dataframe as dd
import gzip

In [7]:
graph = Graph('event_db/import/installation-3.4.6', username= 'neo4j', password =  'Evangeline123')

In [9]:
# Load user data for node creation
user_df = pd.read_csv('data/users.csv')

In [15]:
#Drop joinedAt and timezone columns
user_df.drop(columns = ['joinedAt', 'timezone'], inplace = True)

In [41]:
#Drop nan values
user_df.dropna(inplace = True)

In [79]:
user_df.head(3)

      user_id locale birthyear gender            location
0  3197468391  id_ID      1993   male    Medan  Indonesia
1  3537982273  id_ID      1992   male    Medan  Indonesia
2   823183725  en_US      1975   male  Stratford  Ontario

In [83]:
n_u = user_df.shape[0]

(32681, 5)

In [45]:
with open('data/user_friends.csv', 'rb') as fd:
    gzip_fd = gzip.GzipFile(fileobj=fd)
    user_friends_df = pd.read_csv(gzip_fd)

#  = pd.read_csv('data/user_friends.csv', encoding = 'latin1')

In [82]:
user_friends_df.shape

(38202, 2)

In [80]:
user_friends_df.head(3)

         user                                            friends
0  3197468391  1346449342 3873244116 4226080662 1222907620 54...
1  3537982273  1491560444 395798035 2036380346 899375619 3534...
2   823183725  1484954627 1950387873 1652977611 4185960823 42...

In [48]:
with open('data/events.csv', 'rb') as ed:
    gzip_ed = gzip.GzipFile(fileobj=ed)
    events_df = pd.read_csv(gzip_ed)

In [56]:
events_df.drop(columns = ['zip'], inplace = True)
events_df.dropna(inplace = True)

In [78]:
events_df.shape

(1227211, 7)

In [63]:
events_df = events_df[['event_id', 'user_id', 'city', 'state', 'country', 'lat', 'lng']]

In [84]:
events_df.head(3)

,event_id,user_id,city,state,country,lat,lng
40,2587616435,3053278014,Sihanoukville,Kampot,Cambodia,10.633,103.500
51,1145166049,2509951454,Palo Alto,CA,United States,37.442,-122.172
156,3580637647,1501747205,Los Angeles,CA,United States,3.156,101.612

In [70]:
with open('data/event_attendees.csv', 'rb') as ead:
    gzip_ead = gzip.GzipFile(fileobj=ead)
    event_attendees_df = pd.read_csv(gzip_ead)

In [71]:
event_attendees_df.head()

,event,yes,maybe,invited,no
0,1159822043,1975964455 252302513 4226086795 3805886383 142...,2733420590 517546982 1350834692 532087573 5831...,1723091036 3795873583 4109144917 3560622906 31...,3575574655 1077296663
1,686467261,2394228942 2686116898 1056558062 3792942231 41...,1498184352 645689144 3770076778 331335845 4239...,1788073374 733302094 1830571649 676508092 7081...,NaN
2,1186208412,NaN,3320380166 3810793697,1379121209 440668682,1728988561 2950720854
3,2621578336,NaN,NaN,NaN,NaN
4,855842686,2406118796 3550897984 294255260 1125817077 109...,2671721559 1761448345 2356975806 2666669465 10...,1518670705 880919237 2326414227 2673818347 332...,3500235232

In [73]:
event_attendees_df.shape

(24144, 5)

In [74]:
event_attendees_df.dropna(inplace = True)

In [77]:
event_attendees_df.shape

(16789, 5)

In [85]:
event_attendees_df.head(3)

,event,yes,maybe,invited,no
0,1159822043,1975964455 252302513 4226086795 3805886383 142...,2733420590 517546982 1350834692 532087573 5831...,1723091036 3795873583 4109144917 3560622906 31...,3575574655 1077296663
4,855842686,2406118796 3550897984 294255260 1125817077 109...,2671721559 1761448345 2356975806 2666669465 10...,1518670705 880919237 2326414227 2673818347 332...,3500235232
6,488116622,4145960786 2550625355 2577667841 1575121941 28...,1227223575 2789471603 1323321680 3086272918 38...,1413359297 2300232602 1412759254 617751520 286...,1498160155 3708150269 823488244 3595018395 173...

In [93]:
user_df.iloc[4,0]

627175141

In [ ]:
###### Create the nodes relative to Users, each one being identified by its user_id #####
# "MERGE" request : creates a new node if it does not exist already
tx = graph.cipher.begin()
statement1 = 'CREATE CONSTRAINT ON (u:User) ASSERT n.id IS UNIQUE'
statement2 = 'USING PERIODIC COMMIT MERGE (u:`User`{user_id:{A}, location:{B}}) RETURN u'
for u, user in users_df.iterrows():